* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% -48px);
}

.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    color: #ffffff;
    background: #171100;
    border-radius: 24.5px;
    line-height: 50px;
    min-width: 118px;
    text-align: center;
}

/* Header */

.header {
    background: #fffcf4;
    position: sticky;
    z-index: 1;
    left: 0;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
    position: relative;
}

.nav ul {
    display: flex;
}

.nav .item a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}

.nav .active a,
.nav a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav .active a::after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 12px;
    background: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: -5px;
}

.header .btn {
    width: 144px;
    margin-left: 49px;
}
